<!DOCTYPE html>
<html>
<head>
	<title>Chatea con el Soporte</title>
	<link type="text/css" rel="stylesheet" href="../stylesheets/materialize.css" />
	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
                <div class="navbar-fixed">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="/" class="brand-logo">&nbsp;&nbsp; Amoxtli</a>
                            <ul class="right hide-on-med-and-down">
                              <li><a href="/login">Iniciar Sesión</a></li>                             
                              <!-- Dropdown Trigger -->
                            </ul>
                        </div>
                    </nav>
                </div>
    </header>
	<main>
        <section class="section">
		<!-- These elements are displayed as white info cards in the middle of the screen -->
		<div class="connected blue-grey darken-1 border1">
			<img src="../img/unnamed.jpg" id="creatorImage" />
			<div class="infoConnected">
				<h2 class="blue-text text-lighten-5">Soporte</h2>
				<br/>
				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Nombre" /><br/>
					<input type="text" id="yourEmail" placeholder="Correo" /><br/>
					 <button class="btn-large waves-effect waves-light" type="submit" name="action">Ingresar
                        <i class="mdi-content-send right"></i>
                      </button>
				</form>
			</div>
		</div>
		<div class="personinside blue-grey darken-1 border1">
			<img src="../img/unnamed.jpg" id="ownerImage" />
			<div class="infoInside">
				<h3 class="blue-text text-lighten-5">Registrate</span></h3>
				<br/>
				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Nombre" /><br/>
					<input type="text" id="hisEmail" placeholder="Correo" /><br/>
					 <button class="btn-large waves-effect waves-light" type="submit" name="action">Ingresar
                        <i class="mdi-content-send right"></i>
                      </button>
				</form>
			</div>
		</div>
		<div class="invite-textfield blue-grey darken-1 border1 center">
			<br><br>
            <h3 class="blue-text text-lighten-5">Sala creada.</h3>
			<h6 class="blue-text text-lighten-5">Espera a que un usuario entre.</h6>
			<div class="link">
				<a title="Invite a friend" href="" id="link"></a>
			</div>
		</div>
		<div class="left blue-grey darken-1 border1 center">
			<img src="../img/unnamed.jpg" id="leftImage" />
			<div class="info">
				<h3 class="blue-text text-lighten-5"><span class="nickname-left"></span> Salió del chat.</h3>
				<h6 class="blue-text text-lighten-5">Regresa para que otro miembro del soporte te ayude</h6>
			</div>
		</div>
		<div class="toomanypeople">
			<h2>El soporte esta ocupado</h2>
			<h5>Espera a que esté disponible o entre otro soporte <a title="New Room" href="/create" id="room">sala</a>?</h5>
		</div>
		<div class="nomessages blue-grey darken-1 border1 center">
			<img src="../img/unnamed.jpg" id="noMessagesImage" />
			<div class="info">
				<h3 class="blue-text text-lighten-5">Estas chateando con <span class="nickname-chat"></span>.</h3>
				<h6 class="blue-text text-lighten-5">Mandale un mensaje aqui abajo</h6>
			</div>
		</div>
		<div class="chatscreen">
			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>
		</div>
	</section>
    
	<footer class="blue-grey darken-1">
		<form id="chatform">
			<textarea id="message" placeholder="Escribe algo.."></textarea>
			&nbsp;&nbsp;<button class="btn-large waves-effect waves-light" type="submit" name="action">Ingresar
                <i class="mdi-content-send right"></i>
            </button>
		</form>
	</footer>
    </main>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>