doctype html
html
  head
    title Nuevo usuario
  body
    div
      form(action='/users', method='post')
        p
          label(for='names') Nombre(s)
          br
          input(id='names', type='text', value='', name='names')
        p
          label(for='first_ln') Apellido paterno
          br
          input(id='first_ln', type='text', value='', name='first_ln')
        p
          label(for='second_ln') Apellido materno
          br
          input(id='second_ln', type='text', value='', name='second_ln')
        p
          label(for='username') Nombre de Usuario
          br
          input(id='username', type='text', value='', name='username')
        p
          label(for='email') E-mail
          br
          input(id='email', type='text', value='', name='email')
        p
          label(for='facebook_id') Facebook Id
          br
          input(id='facebook_id', type='text', value='', name='facebook_id')
        p
          label(for='password') Contraseña
          br
          input(id='password', type='password', value='', name='password')
        p
          label(for='re_password') Repetir contraseña
          br
          input(id='re_password', type='password', value='', name='re_password')
        p
        input(type='submit', value='Enviar')


